#rangeContainer{
    width:50%;
    margin:auto;
    padding: 5%;
    background-color: rgb(255, 127,0);
border-radius: 6px;
}
#subRangeContainer{
    padding:3%;
    background-color: rgb(58, 55, 60,0.5);
    border-radius: 6px;
    box-shadow: #f0f1f4 6px 6px 10px;
}
h1{
    text-align:center;
    font-family: comic sans ms;
    
    text-shadow: #f0f1f4 6px 6px 10px;
}
label{
    color: #f0f1f4;
    font-weight: bold;
    font-size:1.5vw;
    text-shadow: #5b5d61 6px 6px 10px;
    font-family: comic sans ms;
}
#outputBox{
    width:60%;
    margin:auto;
}
body{
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
        
    background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
}

#rangeContainer>input{
box-shadow: #f0f1f4 6px 6px 10px;
border-radius: 6px;
}